#pip==23.3.2
#pip list
##pip install -r requirements.txt

gunicorn==21.2.0
astroid==3.0.2
beautifulsoup4==4.12.3
black==24.1.1
blinker==1.7.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coverage==7.4.1
dill==0.3.8
dnspython==2.5.0
feedparser==6.0.11
flake8==7.0.0
Flask==3.0.1
idna==3.6
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.4
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
pylint==3.0.3
pymongo==4.6.1
pytest==8.0.0
pytest-cov==4.1.0
requests==2.31.0
setuptools==69.0.3
sgmllib3k==1.0.0
soupsieve==2.5
tomlkit==0.12.3
urllib3==2.1.0
Werkzeug==3.0.1
python-dotenv==1.0.1

